@import "tailwindcss";

/* Custom Tailwind theme */
@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --font-family-display: "Inter", sans-serif;
}
